@import "tailwindcss";

:root {
  --bg-primary: #000000;
  --bg-secondary: #111213;
  --bg-tertiary: #0c0709;
  --text-primary: #ffffff;
  --text-secondary: #d3d3d3;
  --accent-primary: #bea255;
  --border-default: #979797;
}

html,
body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: var(--font-primary);
}