@import "tailwindcss";

:root {
  --bg-primary: #000000;
  --bg-secondary: #161616;
  --bg-tertiary: #3b3b3b;
  --text-primary: #f5e9a4;
  --text-secondary: #cccccc;
  --accent-primary: #eeb007;
  --border-default: #979797;
}

html,
body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
}